# Java artifacts
*.class
*.jar
*.war
*.ear

# Eclipse project files
.classpath
.project
.settings/

# VSCode project files
.vscode/

# IntelliJ IDEA project files
.idea/
*.iml

# macOS artifacts
.DS_Store

# Output directories
bin/
target/
out/
build/
dist/